body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.underline-animation {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #333; /* цвет текста */

  /* Добавляем подчеркивание с помощью ::after */
  &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px; /* высота линии подчеркивания */
      bottom: 0;
      left: 0;
      background-color: #3498db; /* цвет подчеркивания */
      transform: scaleX(0); /* начальное состояние - линия подчеркивания невидима */
      transform-origin: bottom right;
      transition: transform 0.5s ease; /* анимация с изменением transform */
  }

  /* Добавляем анимацию при наведении */
  &:hover::after {
      transform: scaleX(1); /* линия подчеркивания становится видимой */
      transform-origin: bottom left;
  }
}
