@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background-color: #000;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #F65252;
  box-shadow: 0 -100vh 0 100vh #F65252;
}

.movie-bg{
  vertical-align: baseline;
  position: fixed;
  pointer-events: none;
  animation: movie 1s steps(4) infinite;
  background-image: url(../public/img/movie.png);
  height: 200%;
  left: -50%;
  top: -50%;
  width: 200%;
  opacity: .7;
  z-index: 99;
}

.sticky-nav{
  position: sticky;
  top:0;
  z-index: 1000;
  background: linear-gradient(180deg, #000, rgba(22, 22, 22, 0));
}

.animation-content-wrapper{
  overflow: hidden;
  display: block;
}

.title-content{
  animation: slideUp 1.5s forwards;
  display: inline-block;
  transform: translateY(150%);

  line-height: 1.2;
}

.arrow-content{
  animation: slideUpLeft 1s forwards;
  animation-delay: .5s;
  transform: translate(-100%, -100%);
  opacity: 0;
}

.more-content{
  animation: slideUp 1s forwards;
  animation-delay: .3s;
  display: inline-block;
  transform: translateY(150%);
}

.nav-link-animation{
  animation: slideDown 0.5s forwards;
  /* animation-delay: 0.2s; */
  display: inline-block;
  transform: translateY(-150%);
}

.animated-circle #circlePath {
  stroke-dashoffset: 944.9669799804688;
  animation: drawCircle 3s forwards;
}

.show-project-content{
  animation: slideUp 2s forwards;
  display: inline-block;
  transform: translateY(150%);
  transition: color 0.5s ease;
}

.date-content{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  -webkit-text-fill-color: transparent;

  animation: slideUp 2s forwards;
  animation-delay: 0.5s;
  display: inline-block;
  transform: translateY(150%);
}

.month-content{
  animation: slideUp 2s forwards;
  animation-delay: 0.5s;
  display: inline-block;
  transform: translateY(150%);
}

.about-content{
  animation: slideUp 1.5s forwards;
  display: inline-block;
  transform: translateY(150%);
}

#about-content-1{
  animation-delay: 1s;
}
#about-content-2{
  animation-delay: 1.3s;
}
#about-content-3{
  animation-delay: 1.6s;
}
#about-content-4{
  animation-delay: 1.9s;
}
#about-content-5{
  animation-delay: 2.2s;
}
#about-content-6{
  animation-delay: 2.5s;
}

#showConcept:hover + #concept {
  opacity: 1;
  pointer-events: auto;
}

#showConcept:hover .show-project-content {
  color: #fff;
}

#concept {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease; 
}

#concept.visible {
  opacity: 1;
  pointer-events: auto;
}

/* #showConcept:hover + #concept,
#concept:hover {
  opacity: 1;
  pointer-events: auto;
} */

.link-contact{
  color:#fff;
  transition: color 0.5s ease;
}

.link-contact:hover{
  color:#ffffffb2;
}

.title-project-content{
  display: none;
}

.activate .title-project-content{
  animation: slideUp 1.5s forwards;
  display: inline-block;
  transform: translateY(150%);
}

.project-content-title{
  display: none;
}

.activate .project-content-title{
  animation: slideUp 1.5s forwards;
  display: inline-block;
  transform: translateY(150%);
}

.project-content-image{
  display: none;
}

.activate .project-content-image{
  animation: slideDown 1.5s forwards;
  display: inline-block;
  transform: translateY(150%);
}

.about-me-content{
  display: none;
}

.activate .about-me-content{
  animation: slideUp 1.5s forwards;
  display: inline-block;
  transform: translateY(150%);
}

.rotate-container {
  animation: rotateAnimation 15s linear infinite;
  transition: opacity 0.5s ease; 
  opacity: 0;
}

.img-warp:hover .rotate-container{
  opacity: 1;
}

#about-me-1{
  animation-delay: 0s;
}
#about-me-2{
  animation-delay: 0.3s;
}
#about-me-3{
  animation-delay: 0.6s;
}
#about-me-4{
  animation-delay: 0.9s;
}
#about-me-5{
  animation-delay: 1.2s;
}

.lets-contact {
  position: relative;
  text-decoration: none;
  color: #F65252; /* цвет текста */

  /* Добавляем подчеркивание с помощью ::after */
  &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 12px; /* высота линии подчеркивания */
      bottom: 0;
      left: 0;
      background-color: #F65252; /* цвет подчеркивания */
      transform: scaleX(0); /* начальное состояние - линия подчеркивания невидима */
      transform-origin: bottom right;
      transition: transform 0.7s ease; /* анимация с изменением transform */
  }

  /* Добавляем анимацию при наведении */
  &:hover::after {
      transform: scaleX(1); /* линия подчеркивания становится видимой */
      transform-origin: bottom left;
  }
}

@media screen and (max-width: 1024px) {
  .lets-contact {
    &::after {
      height: 5px; /* высота линии подчеркивания */
    }
  }
}

.lets-contact-white {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #fff; /* цвет текста */

  /* Добавляем подчеркивание с помощью ::after */
  &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px; /* высота линии подчеркивания */
      bottom: 0;
      left: 0;
      background-color: #fff; /* цвет подчеркивания */
      transform: scaleX(0); /* начальное состояние - линия подчеркивания невидима */
      transform-origin: bottom right;
      transition: transform 0.7s ease; /* анимация с изменением transform */
  }

  /* Добавляем анимацию при наведении */
  &:hover::after {
      transform: scaleX(1); /* линия подчеркивания становится видимой */
      transform-origin: bottom left;
  }
}

.select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}




@keyframes drawCircle {
  0% {
    stroke-dashoffset: 944.9669799804688;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes slideUpLeft {
  0% {
    transform: translate(-100%, -100%);
    opacity: 0;
  }
  40%{
    opacity: 0;
  }
  100% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-150%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(150%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes rotateAnimation {
  to {
    transform: rotate(360deg);
  }
}

@keyframes movie {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(-5%, -5%);
    transform: translate(-5%, -5%);
  }
  20% {
    -webkit-transform: translate(-10%, 5%);
    transform: translate(-10%, 5%);
  }
  30% {
    -webkit-transform: translate(5%, -10%);
    transform: translate(5%, -10%);
  }
  40% {
    -webkit-transform: translate(-5%, 15%);
    transform: translate(-5%, 15%);
  }
  50% {
    -webkit-transform: translate(-10%, 5%);
    transform: translate(-10%, 5%);
  }
  60% {
    -webkit-transform: translate(15%, 0);
    transform: translate(15%, 0);
  }
  70% {
    -webkit-transform: translate(0, 10%);
    transform: translate(0, 10%);
  }
  80% {
    -webkit-transform: translate(-15%, 0);
    transform: translate(-15%, 0);
  }
  90% {
    -webkit-transform: translate(10%, 5%);
    transform: translate(10%, 5%);
  }
  100% {
    -webkit-transform: translate(5%, 0);
    transform: translate(5%, 0);
  }
}




